<footer>
  <div class="country-wrapper">
    <p class="country-text">Україна</p>
  </div>

  <div class="info-wrapper">
    <ul class="general-list">
      <li class="general-item">
        <a
          class="general-link"
          href="https://about.google/?utm_source=google-UA&utm_medium=referral&utm_campaign=hp-footer&fg=1"
          >про Google</a
        >
      </li>
      <li class="general-item">
        <a
          class="general-link"
          href="https://ads.google.com/intl/ru_ua/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1"
          >Реклама</a
        >
      </li>
      <li class="general-item">
        <a
          class="general-link"
          href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1#?modal_active=none"
          >Для бізнесу</a
        >
      </li>
      <li class="general-item">
        <a
          class="general-link"
          href="https://www.google.com/search/howsearchworks/?fg=1"
          >Як працює Пошук</a
        >
      </li>
    </ul>

    <ul class="settings-list">
      <li class="settings-item">
        <a
          class="settings-link"
          href="https://policies.google.com/privacy?hl=ru-UA&fg=1"
          >Конфіденційність</a
        >
      </li>
      <li class="settings-item">
        <a
          class="settings-link"
          href="https://policies.google.com/terms?hl=ru-UA&fg=1"
          >Умови</a
        >
      </li>
      <li class="settings-item">
        <a class="settings-link" href="#">Налаштування</a>
      </li>
    </ul>
  </div>
</footer>
