<header>
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-link" href="https://mail.google.com/mail"> Gmail </a>
      <a
        class="header-link"
        href="https://www.google.com/imghp?hl=ru&tab=ri&authuser=0&ogbl"
      >
        Зображення
      </a>
      <button class="header-button-menu" type="button">
        <svg class="icon-menu" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="header-button-login" type="button">Увійти</button>
    </nav>
  </div>
</header>
